@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --animate-shuriken: shuriken 2s ease-out infinite;

    @keyframes shuriken {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(720deg);
        }
    }

    --animate-fade-in: fadeIn 0.5s ease-in-out;
    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
}
